
<AppHeader></AppHeader>

<div class="app-header">
    <div style="position: relative; top: 2px; left: 2px; height: 16px; cursor: pointer;" onclick="this.menu.togglemenu()">
        <div style="height: 3px; width: 16px; margin: 0; padding: 0; border-bottom: 2px solid black;"></div>
        <div style="height: 3px; width: 16px; margin: 0; padding: 0; border-bottom: 2px solid black;"></div>
        <div style="height: 3px; width: 16px; margin: 0; padding: 0; border-bottom: 2px solid black;"></div>
    </div>

    <div class="topbar" id="topbar"></div>

   <div class="info" id="info" onclick="this.help.togglemenu()">
   </div>
</div>
